* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 180vh;
}

.container {
    background-color: #121212;
    width: 700px;
    color: #fff;
    margin: auto;
    padding: 50px;
    border: 5px solid red;
    border-radius: 15px;
}

.area {
    position: relative;
    top: 150px;
    left: 90px;
    border: 5px solid green;
}