* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 180vh;
}

.container {
    background-color: #121212;
    width: 700px;
    color: #fff;
    margin: auto;
    padding: 50px;
    border: 5px solid red;
    border-radius: 15px;
}

header {
    background-color: cadetblue;
    width: 100%;
    margin-bottom: 20px;

    position: sticky;
    top: 0;
}