* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.container {
    background-color: #121212;
    height: 500px;
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.area {
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    color: white;
    width: 100px;
    height: 100px;
}

.item-1 {
    background-color: red;
    order: 2;
}

.item-2 {
    background-color: blue;
    order: 3;
}

.item-3 {
    background-color: darkgreen;
    order: 1;
}
