* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.container {
    background-color: #121212;
    height: 500px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.area {
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    color: white;
    width: 100px;
    height: 100px;
}

.item-1 {
    background-color: red;
}

.item-2 {
    background-color: blue;
}

.item-3 {
    background-color: darkgreen;
}

.item-4 {
    background-color: blueviolet;
}