* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Poppins', serif;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.nav {
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}

.nav-list a {
    text-decoration: none;
    color: #ddd;
    padding: 20px;
    font-size: 20px;
    transition: 500ms;
}

.nav-list a:hover {
    color: #f22c36;
}

.main {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #000;
    background-image: url(img/programador.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.main h1 {
    color: #fff;
    font-size: 54px;
}

.main p {
    font-size: 24px;
    font-style: italic;
    color: #f22c36;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main a {
    text-decoration: none;
}

.cta {
    cursor: pointer;
    background-color: #fff;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    transition: 500ms;
}

.cta:hover {
    cursor: pointer;
    background-color: #f22c36;
    transform: scale(1.06);
    color: #fff;
    transition: 500ms;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

.about {
    background-color: #fff;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about div {
    max-width: 50%;
    padding-right: 40px;
}

.about div h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #f22c36;
}

.about div p {
    font-size: 20px;
}

.about img {
    max-width: 450px;
    border-radius: 10px;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.projects h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #f22c36;
}

.projects p {
    font-size: 20px;
    margin-bottom: 40px;
    font-style: italic;
}

.project-list {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects img {
    border-radius: 10px;
    width: 25%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 500ms;
    cursor: pointer;
}

.projects img:hover {
    opacity: 1;
}

.action {
    background-color: #f22c36;
    border: 0;
    padding: 20px 25px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    margin-top: 50px;
    cursor: pointer;
    transition: 500ms;
    font-weight: 700;
}

.action:hover {
    transform: scale(1.03);
}

footer {
    font-size: 18px;
    width: 100%;
    background-color: #181818;
    padding: 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
    align-items: center;
    justify-content: center;
}

/* Responsividade */

@media (max-width: 1250px) {
    .main h1 {
        font-size: 45px;
    }
    .main p {
        font-size: 18px;
    }
    .main {
        background-size: cover;
    }

    .about {
        flex-direction: column;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .about div {
        max-width: 80%;
    }

    .about div h2 {
        font-size: 45px;
    }

    .about img {
        width: 80%;
        margin-top: 30px;
    }

    .projects img {
        width: 30%;
    }

    .footer {
        flex-direction: column;
    }

    .footer h3 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .footer p {
        margin: 0;
    }
}
