@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

:root {
    --blue: #0056fb;
    --white: #ffffff;
    --black: #000000;
}

.content {
    font-family: 'Roboto', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
}

.left h1 {
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campo {
    width: 444px;
    height: 49px;
    border-radius: 4px;
    border: solid 1px var(--black);
    margin-bottom: 20px;
}

input[type='text'],
input[type='e-mail'],
input[type='password'] {
    color: #0056fb;
    padding-left: 10px;
    font-size: 16px;
}

input[type='text']:focus,
input[type='e-mail']:focus,
input[type='password']:focus {
    border: 1px solid #0056fb;
    padding-left: 10px;
    font-size: 16px;
}

.check {
    margin-bottom: 20px;
}

label {
    margin-left: 8px;
}

.button {
    border: 0;
    width: 444px;
    height: 49px;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 5.5%;
    cursor: pointer;
}

.conta {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.conta p {
    font-weight: 700;
}

.conta a {
    padding-left: 5px;
    text-decoration: none;
    color: var(--black);
}

.conta a:hover {
    color: var(--blue);
}

.right {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.content2 {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.content2 h2 {
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    line-height: 56.25px;
    letter-spacing: 5.5%;
}

.right img {
    max-width: 535px;
}

.content2 p {
    color: var(--white);
    padding-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 5.5%;
    max-width: 438px;
}

@media only screen and (max-width: 1130px) {
    .right img {
        max-width: 450px;
    }
}

@media only screen and (max-width: 1010px) {
    .content {
        font-family: 'Roboto', serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .formulario {
        padding-top: 200px;
        padding-bottom: 140px;
    }

    .right {
        padding-top: 120px;
        padding-bottom: 120px;
        width: 100%;
    }

    .right img {
        max-width: 347px;
        padding-bottom: 50px;
    }
}
